<div class="mb-3">
    <input 
    type={{type}}
    [class.is-invalid] = "ngControl.touched && ngControl.invalid" 
    class="form-control" 
    [formControl] = "control"
    placeholder={{label}}>
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        Please enter {{label}}
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['minlength']">
        {{label}} must be atleast {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['notMatching']">
        Passwords donot match
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['doesntContainNumber']">
         Must contain a number
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['doesntContainLowercase']">
        Must contain a lowercase letter
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['doesntContainUppercase']">
        Must contain an uppercase letter
    </div>
    <div class="invalid-feedback" *ngIf="control.errors?.['doesntContainSpecialCharacter']">
        Must contain a special character
    </div>
</div>