<div class="row">
    <!-- <div class="col-2" *ngFor="let member of members$ | async">
        <app-member-card [member]="member"></app-member-card>
    </div>              OLD Approach before pagination-->
    <div class="col-2" *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
    </div>
    <div class="d-flex justify-content-center" *ngIf="pagination">
        <pagination 
            [boundaryLinks]="true" [totalItems]="pagination.totalItems"
            previousText="&lsaquo;" nextText="&rsaquo;" 
            firstText="&laquo;" lastText="&raquo;"
            [itemsPerPage]="pagination.itemsPerPage"
            [maxSize]="10"
            [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)"
            >
        </pagination>
    </div>
</div>